@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

$primary-color: #005E8E;
$secondary-color: #E8AE00;
$grey-color: #f7f7f7;
$grey-border-color: #efefef;
$dark-grey-color: rgb(130, 126, 126);

* {
    font-family: 'Open Sans', sans-serif;
}

@mixin breakpoint($class) {
    @if $class==xs {
        @media (max-width: 576px) {
            @content;
        }
    }
    @else if $class==sm {
        @media (max-width: 768px) {
            @content;
        }
    }
    @else if $class==md {
        @media (max-width: 992px) {
            @content;
        }
    }
    @else if $class==lg {
        @media (max-width: 1200px) {
            @content;
        }
    }
    @else {
        @warn "Breakpoint mixin supports: xs, sm, md, lg";
    }
}

/***** Buttons *****/
.btn {
    font-size: 14px;
    border: none;
}
.btn-primary {
    background-color: $primary-color;
    &:hover {
        background-color: $secondary-color;
    }
    &:disabled {
        background-color: $secondary-color;
    }
    &:focus {
        background-color: $primary-color;
    }
}
.btn-icon {
    background-color: $grey-color;
    border-radius: 40px;
    padding: 10px;
    svg {
        color: $primary-color;
    }
    &:hover {
        background-color: $grey-color;
        svg {
            color: $secondary-color;
        }
    }
    &:focus {
        background-color: $grey-color;
    }
    &::after {
        display: none;
    }
}

/***** Router Link *****/
.link {
    color: $primary-color;
    text-decoration: none;
    &:hover {
        color: $secondary-color;
    }
}

/***** Loader *****/
.primary-spinner {
    color: $primary-color;
}

/***** General Tabs Nav Style *****/
.nav-tabs {
    .nav-item {
        button {
            font-weight: 500;
            color: $primary-color;
            &.active {
                color: $secondary-color;
            }
        }
    }
}

/***** Forms *****/
input {
    &:focus {
        box-shadow: none !important;
        border-color: $primary-color !important;
    }
}
.error-feedback {
    font-size: 12px;
    color: red;
    margin-top: 5px;
}

/***** Avatar *****/
.avatar {
    width: 40px;
    border-radius: 40px;
    object-fit: cover;
}

/***** Scollbar *****/
.custom-scrollbar {
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background-color: $grey-border-color;
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgb(201, 201, 201);
        border-radius: 5px;
    }
    &::-webkit-scrollbar-thumb {
        &:hover {
            background-color: rgb(180, 180, 180);
        }
    }
}

/***** Custom Pagination *****/
.custom-pagination {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    gap: 3px;
    .page-number {
        padding: 4px 10px;
        cursor: pointer;
        text-decoration: none;
        color: $primary-color;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 2px 2px 2px $grey-color;
        &:hover {
            background-color: $primary-color;
            color: #fff;
        }
        &.active {
            background-color: $primary-color;
            color: #fff;
        }
    }
    .next-prev {
        text-decoration: none;
        font-size: 18px;
        font-weight: 600;
        color: $primary-color;
        padding: 4px 8px;
    }
    .break {
        text-decoration: none;
        font-size: 18px;
        padding: 4px;
    }
    .disabled {
        cursor: auto;
        color: $grey-border-color;
    }
}

/***** Modal *****/
.max-modal-height {
    .modal-body {
        max-height: 500px;
    }
}

/*
##### Public Layout #####
*/
.public-layout {
    height: 100vh;
    background-image: url('../public/images/public-background2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/***** Public Content *****/
.public-content {
    height: 100vh;
}

/***** Public Form *****/
.public-form {
    width: 30%;
    @include breakpoint(md) {
        width: 50%;
    }
    @include breakpoint(xs) {
        width: 80%;
    }
    .link {
        font-size: 14px;
    }
    img {
        width: 150px;
        border-radius: 0;
    }
}

/*
##### Login Layout #####
*/
.login-layout {
    .main-content-wrap {
        height: 100vh;
        .main-content {
            height: calc(100vh - 145px);
        }
    }
}

/*
##### Topbar #####
*/
.topbar {
    box-shadow: 2px 2px 5px 2px $grey-color;
    border-radius: 10px;
    .topbar-left {
        p {
            font-weight: 600;
        }
    }
    .topbar-right {
        .btn-icon {
            position: relative;
            .badge {
                position: absolute;
                right: 0;
                background-color: $primary-color;
                border-radius: 20px;
                font-size: 10px;
            }
        }
        .dropdown-menu {
            border: none;
            min-width: 250px;
            max-width: 250px;
            p {
                font-size: 14px;
                color: gray;
                &.head-text {
                    color: $primary-color;
                    border-bottom: 1px solid $grey-border-color;
                }
            }
            .dropdown-item {
                font-size: 13px;
                width: 100%;
                overflow: hidden;
                white-space: normal;
                &:not(:last-child) {
                    border-bottom: 1px solid $grey-border-color;
                }
                &:hover {
                    background-color: $grey-color;
                }
            }
        }
    }
}

/*
##### Bottombar #####
*/
.bottombar {
    border-top: 1px solid $grey-border-color;
}

/*
##### Sidebar #####
*/
.sidebar-wrap {
    &.active {
        .toggle-arrow {
            transform: rotate(180deg);
        }
        .sidebar {
            .accordion {
                .accordion-button {
                    svg {
                        overflow: visible;
                    }
                }
            }
        }
    }
    .toggle-arrow {
        color: #fff;
        position: absolute;
        top: 5px;
        right: -30px;
        padding: 0px 6px 3px;
        background-color: $primary-color;
        border-radius: 20px;
        border: none;
        box-shadow: none;
    }
    .sidebar {
        width: 250px;
        height: 100vh;
        background-color: $primary-color;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        overflow-y: auto;
        transition: 0.3s;
        white-space: nowrap;
        z-index: 1;
        overflow-x: hidden;
        .sidebar-top {
            img {
                width: 40px;
                height: 40px;
                border-radius: 0;
                object-fit: cover;
                border-radius: 40px;
            }
            p {
                color: #fff;
                font-weight: 600;
                max-width: 140px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .nav-menu {
            .menu-item {
                color: #fff;
                text-decoration: none;
                svg {
                    margin-right: 19px;
                }
                &:hover {
                    color: $secondary-color;
                }
                &.active {
                    background-color: $secondary-color;
                    border-radius: 7px;
                    &:hover {
                        color: #fff;
                    }
                }
            }
            .accordion {
                .accordion-button {
                    background-color: $primary-color;
                    color: #fff;
                    border-radius: 7px;
                    box-shadow: none;
                    svg {
                        margin-right: 23px;
                    }
                    &:not(.collapsed) {
                        background-color: rgba(255, 255, 255, 0.105);
                    }
                    &:hover {
                        color: $secondary-color;
                    }
                    &::after {
                        background-size: 15px;
                        filter: brightness(0) invert(1);
                    }
                }
                .accordion-body {
                    .menu-item {
                        font-size: 14px;
                        svg {
                            margin-right: 23px;
                        }
                    }
                }
            }
        }
    }
}

/*
##### Dashboard #####
*/
.home-content {
    .list-items-wrap {
        max-height: 230px;
        box-shadow: 2px 2px 5px 2px $grey-color;
        border-radius: 10px;
    }
}

/***** Chart Card *****/
.shifts-status-chart-wrap {
    box-shadow: 2px 2px 5px 2px $grey-color;
    border-radius: 10px;
    .shifts-status-chart {
        width: 200px;
    }
    .labels {
        h5 {
            font-weight: 600;
        }
        div {
            font-size: 15px;
            font-weight: 600;
            span {
                display: inline-block;
                width: 10px;
                height: 10px;
                border-radius: 10px;
            }
        }
    }
}

/***** Stats Card *****/
.stats-card {
    width: 48%;
    border: none;
    border-left: 3px solid $secondary-color;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px $grey-color;
    .card-title {
        font-size: 14px;
        font-weight: 700;
        color: $dark-grey-color;
    }
    .card-text {
        font-size: 25px;
        font-weight: bold;
    }
    .card-subtitle {
        font-size: 13px;
        font-weight: 600;
        color: $dark-grey-color;
    }
}

/*
##### View Calendar #####
*/
.view-calendar {
    &.filter-active {
        .calendar-body {
            .assigned-wrap {
                height: calc(100vh - 540px);
            }
        }
    }
    .calendar-head {
        .current-week {
            .filters-toggler {
                &.active {
                    background-color: $primary-color;
                    svg {
                        color: #fff;
                    }
                }
            }
            .dates {
                span {
                    font-weight: 600;
                    font-size: 18px;
                }
            }
        }
    }
    .filters {
        background-color: $grey-color;
        border-radius: 10px;
        * {
            font-size: 13px;
        }
    }
    .calendar-body {
        .head-table {
            width: calc(100% - 10px);
            font-size: 14px;
            thead {
                th {
                    font-weight: 600;
                    max-width: 100px;
                    min-width: 100px;
                    &:first-child {
                        max-width: 70px;
                        min-width: 70px;
                    }
                }
            }
        }
        .unassigned-wrap {
            height: 120px;
            border-bottom: 8px solid $grey-border-color;
            table {
                font-size: 14px;
                thead {
                    th {
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
                tbody {
                    tr {
                        td {
                            max-width: 100px;
                            min-width: 100px;
                            &:first-child {
                                max-width: 70px;
                                min-width: 70px;
                            }
                            &.dragging-over {
                                background-color: $grey-color;
                            }
                            &.current-day {
                                background-color: rgb(236, 250, 255);
                            }
                        }
                    }
                }
            }
        }
        .assigned-wrap {
            height: calc(100vh - 410px);
            table {
                font-size: 14px;
                tbody {
                    tr {
                        td {
                            max-width: 100px;
                            min-width: 100px;
                            &:first-child {
                                max-width: 70px;
                                min-width: 70px;
                                img {
                                    width: 30px;
                                }
                                .name {
                                    font-weight: 600;
                                }
                                .hours {
                                    font-size: 12px;
                                }
                            }
                            &.dragging-over {
                                background-color: $grey-color;
                            }
                            &.current-day {
                                background-color: rgb(236, 250, 255);
                            }
                        }
                    }
                }
            }
            .records-paginate-wrap {
                .btn, p {
                    font-size: 13px;
                }
            }
        }
    }
}

/***** Employee Shift *****/
.employee-shift {
    background-color: $primary-color;
    border-radius: 5px;
    font-size: 10px;
    span {
        color: #fff;
    }
    .status {
        font-size: 9px;
        font-weight: 600;
        background-color: $secondary-color;
        border-radius: 5px;
        width: fit-content;
    }
}

/***** Shift Modal *****/
.shift-modal {
    .modal-header {
        .modal-title {
            font-size: 15px;
        }
    }
    .modal-body {
        font-size: 13px;
        input {
            font-size: 13px;
        }
        .field-name {
            font-weight: 600;
        }
        .past-employees {
            a {
                &:not(:last-child) {
                    &::after {
                        content: ',';
                    }
                }
            }
        }
        table {
            thead {
                background-color: $primary-color;
                color: #fff;
            }
        }
        .job-type-radio {
            width: 100%;
            cursor: pointer;
            border: 1px solid $primary-color;
            color: $primary-color;
            &.active {
                background-color: $primary-color;
                color: #fff;
            }
            &:not(.active) {
                &:hover {
                    background-color: $grey-color;
                }
            }
            input {
                visibility: hidden;
            }
        }
        .shift-recurrence-wrap {
            .fix-width-field {
                width: 150px !important;
            }
            .max-width-field {
                min-width: 150px;
                max-width: 300px;
            }
        }
        .extra-dates-column {
            max-height: 200px;
            .extra-date-item {
                border: 1px solid lightgray;
                border-radius: 5px;
                padding: 5px;
                margin-bottom: 10px;
                .btn-icon {
                    background-color: rgb(255, 224, 224);
                    padding: 0 3px 3px;
                    svg {
                        color: red;
                    }
                }
            }
        }
    }
}

/*
##### Profile #####
*/
.profile-content {
    .user-box {
        width: fit-content;
        .profile-image {
            width: 100px;
            height: 100px;
            border-radius: 100px;
            border: 3px solid $primary-color;
        }
        .name {
            font-weight: 600;
        }
    }
    .tabs-wrap {
        border-left: 1px solid $grey-border-color;
    }
}